/* FULL PAGE WRAPPER */
.login-container {
  width: 100%;
  height: 100vh;
  background: #f5f6fa;   /* same background as homepage */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  position: relative;
}

/* TOP LEFT LOGO */
.logo-img {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 90px;
  height: auto;
  cursor: pointer;
}

/* CARD */
.login-card {
  background: white;
  padding: 40px 50px;
  border-radius: 12px;
  width: 360px;
  text-align: center;

  border: 1px solid #e5e7eb;       /* soft grey border */
  box-shadow: 0 3px 15px rgba(0,0,0,0.08);  /* subtle shadow */
}

.login-card h2 {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #111827; /* dark grey heading */
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #f9fafb;
  border: 1.5px solid #d1d5db;
  border-radius: 8px;
  color: #111;
  font-size: 15px;
}

.login-card input::placeholder {
  color: #6b7280;
}

/* BUTTON */
.login-card button {
  width: 100%;
  padding: 12px;
  background: #2ecc71;    /* same green as Create Match */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  transition: 0.2s;
}

.login-card button:hover {
  background: #27ae60;
}

/* SWITCH TEXT */
.switch-text {
  margin-top: 18px;
  font-size: 14px;
  color: #4b5563;
}

.switch-text a {
  color: #111827;
  font-weight: 600;
  text-decoration: underline;
}
.social-auth {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 24px;
}

.social-btn {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all 0.25s ease;
}

.social-btn img {
  width: 22px;
  height: 22px;
  filter: grayscale(100%) brightness(0.6);
  transition: all 0.25s ease;
}

.social-btn:hover {
  border-color: #16a34a; /* Sportex green */
  background: #ecfdf5;
}

.social-btn:hover img {
  filter: none;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.75rem 0;
  cursor: pointer;
}

.remember-me input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #2bee79; /* Sportex green */
  cursor: pointer;
}

.remembertext {
  font-family: sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: #1C2C22;
  transition: color 0.2s ease;
  user-select: none;
}


