.auth-page {
  min-height: 100vh;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo */
.auth-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.auth-logo img {
  height: 42px;
}

.auth-logo h2 {
  color: #22c55e;
  font-weight: 600;
}

/* Card */
.auth-card {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.auth-card h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 4px;
}

.auth-subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 18px;
}

/* Toggle */
.auth-toggle {
  display: flex;
  background: #f3f4f6;
  border-radius: 10px;
  margin-bottom: 18px;
}

.auth-toggle button {
  color: black;
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}

.auth-toggle .active {
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Form */
.auth-card label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  display: block;
}

.auth-card input {
  color: black;
  background-color: whitesmoke;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1.5px solid #d1d5db;
  font-size: 14px;
}

.auth-main-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #22c55e;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.auth-main-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Footer */
.auth-footer {
  margin-top: 18px;
  font-size: 12px;
  text-align: center;
  color: #6b7280;
}

.auth-footer span {
  color: #22c55e;
  cursor: pointer;
}
.social-auth {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 24px;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.75rem 0;
  cursor: pointer;
}

.remember-me input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #2bee79; /* Sportex green */
  cursor: pointer;
}

.remembertext {
  font-family: sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: #1C2C22;
  transition: color 0.2s ease;
  user-select: none;
}



.social-btn {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all 0.25s ease;
}

.social-btn img {
  width: 22px;
  height: 22px;
  filter: grayscale(100%) brightness(0.6);
  transition: all 0.25s ease;
}

.social-btn:hover {
  border-color: #16a34a; /* Sportex green */
  background: #ecfdf5;
}

.social-btn:hover img {
  filter: none;
}
